spring:
  application:
    name: todoapp

  datasource:
    #url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://postgres:5432/tasks}
    url: jdbc:postgresql://localhost:5432/tasks
    username: ${SPRING_DATASOURCE_USERNAME:task_user}
    password: ${SPRING_DATASOURCE_PASSWORD:task_password}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

server:
  port: ${SERVER_PORT:8080}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true
  prometheus:
    metrics:
      export:
        enabled: true

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: WARN